{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
	<h1>Produktet</h1>
    <p><a class="btn btn-default" href="/admin/produkti">Shto nje produkt te ri</a></p>
     <div>{{ links | raw }}</div>
     <form method="post" action="/admin/fshijeproduktin">
    <table class="table">
    {% for p in produktet %}
    <tr>
    <td><input type="checkbox" name="fshij[{{ p.Pro_ID }}]"></td>
    <td>{{ p.Pro_ID }}</td>
    <td>{{ p.Pro_Name }}</td>
    <td>{{ p.Pro_Price }}</td>
    <td>{{ p.Cat_Name }}</td>
    <td>{{ p.Man_Name }}</td>
    <td><a class='btn btn-success' href='/admin/produkti/{{ p.Pro_ID }}'>Edito</a></td>
    <td><a class='btn btn-danger' href='/admin/fshijeproduktin/{{ p.Pro_ID }}' onclick="return confirm('A je i sigurte?')">Fshije</a></td>    
    </tr>
    {% endfor %}
    </table>
    <input type="submit" class="btn btn-danger" value="Fshij" onclick="return confirm('A je i sigurte?')">
   </form>
	</div>
</div>
{% endblock %}