{% extends "layout.html" %}
{% block head %}
<style>
.butoni {
	background-color: black;	
}
</style>

{% endblock %}

{% block content %}
<h3>Produkti</h3>
<div class="col-md-12">

     <div class='col-md-12'><h1>{{ Man_Name }} {{ Pro_Name }}</h1></div>
     
     
     <div class='col-md-12'>
     
     {% if imazhi %}
     	{% for im in imazhi %}
        <div class='col-md-2'>
        	<a href="{{ im.full }}"><img src="{{ im.thumb }}" ></a>
        </div>
        {% endfor %}
     {% endif %}
     
     </div>
     
    <div class='col-md-4'>Kodi</div>
    <div class='col-md-8'>{{ Pro_Code }}</div>
    
   
    
    
    <div class='col-md-4'>Pershkrimi</div>
    <div class='col-md-8'>{{ Pro_Description }}</div>    
    
    <div class='col-md-4'>Cmimi</div>
    <div class='col-md-8'>{{ Pro_Price }} €</div> 
     
 
	<form action="/shto" method="post" >
    
    <div class='col-md-4'>Sasia</div>
    <div class='col-md-8'>
    <input  type="number" class="form-control" name="sasia" value="1"></div>
     
    
    
    <input type="hidden" name="Pro_ID" value="{{ Pro_ID }}">
    <input type="hidden" name="Pro_Price" value="{{ Pro_Price }}">    
    
    <input type="hidden" name="crsf_token" value="{{ crsf_token }}">

    </div> 
    
    <div class='col-md-4'></div>
    <div class='col-md-8'>
    
    {% if auth %}
     <input class="btn btn-success" type="submit" value="Bleje">
     {% endif %}
    </form>   
    </div>     
</div>
{% endblock %}
