{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
	<h1>Produkti</h1>
    
    <form action="{{ action }}" method="post" enctype="multipart/form-data">
    <input type="hidden" name="Pro_ID" value="{{ produkti.Pro_ID }}">
    
    <div class="col-md-3">
    Kategoria e produktit
    </div>
    <div class="col-md-9">
    {{ produkti.Kategoria_Select | raw }}
    </div> 
    
    <div class="col-md-3">
    Prodhuesi
    </div>
    <div class="col-md-9">
    {{ produkti.Prodhuesit_Select | raw }}
    </div>       
    
    
    <div class="col-md-3">
    Emri i produktit
    </div>
    <div class="col-md-9">
    <input class="form-control"  type="text" name="Pro_Name" value="{{ produkti.Pro_Name }}" >
    </div>  
    
    <div class="col-md-3">
    Kodi i produktit
    </div>
    <div class="col-md-9">
    <input class="form-control" type="text" name="Pro_Code" value="{{ produkti.Pro_Code }}" >
    </div>        
    
    
    <div class="col-md-3">
    Pershkrimi i produktit
    </div>
    <div class="col-md-9">
    <textarea rows="8" class="form-control" name="Pro_Description">{{ produkti.Pro_Description }}</textarea>
    </div>        
     
     
         <div class="col-md-3">
    Cmimi
    </div>
    <div class="col-md-9">
    <input class="form-control" type="text" name="Pro_Price" value="{{ produkti.Pro_Price }}" >
    </div> 
    
    <div class="col-md-9">
    <input type="file" name="fajlli[]">
    <input type="file" name="fajlli[]">
    <input type="file" name="fajlli[]">
    </div>           
    <input type="submit" class="btn btn-success" value="Regjistro">
    </form>
</div>
</div>   
{% endblock %}