{% extends "layout.html" %}
{% block content %}
<form action="/check" method="post">
<p>Username: <input type="text" name="user"></p>
<p>Password: <input type="password" name = "pass" ></p>

<p><input class="btn btn-success" type="submit" value="Login"> 
</form>
<p><a href="/resetpassword">E kam harruar passwordin</a></p>
{% endblock %}