{% extends "layout.html" %}
{% block content %}
<form action="/signup" method="post">
<table class="table">
  <tr>
    <td>Emri dhe mbiemri</td>
    <td>
      <input class="form-control" type="text" name="emri" id="emri"></td>
  </tr>
  <tr>
    <td>Emaili</td>
    <td>
      <input class="form-control" type="email" name="emaili" id="emaili"></td>
  </tr>
  <tr>
    <td>Passwordi</td>
    <td>
      <input class="form-control" type="password" name="password1" id="password1"></td>
  </tr>
  
 <tr>
    <td>Konfirmo passwordin</td>
    <td>
      <input class="form-control" type="password" name="password2" id="password2"></td>
  </tr>  
  <tr>
    <td>&nbsp;</td>
    <td><input type="submit" name="submit" id="submit" value="Submit"></td>
  </tr>
</table>
<p>&nbsp;</p>
<p><input class="btn btn-success" type="submit" value="Regjistrohu"> 
</form>
{% endblock %}