{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
	<h1>Produkti</h1>
    
    <form action="" method="post">
    <div class="col-md-3">
    Emri i produktit
    </div>
    <div class="col-md-9">
    <input class="form-control"  type="text" name="Pro_Name" value="{{ produkti.Pro_Name }}" >
    </div>  
    
    <div class="col-md-3">
    Kodi i produktit
    </div>
    <div class="col-md-9">
    <input class="form-control" type="text" name="Pro_Code" value="{{ produkti.Pro_Code }}" >
    </div>        
    
    
    <div class="col-md-3">
    Pershkrimi i produktit
    </div>
    <div class="col-md-9">
    <textarea rows="8" class="form-control" name="Pro_Description">{{ produkti.Pro_Description }}</textarea>
    </div>        
     
     
         <div class="col-md-3">
    Cmimi
    </div>
    <div class="col-md-9">
    <input class="form-control" type="text" name="Pro_Price" value="{{ produkti.Pro_Price }}" >
    </div>      
    <input type="button" class="btn btn-success" value="Regjistro">
    </form>
</div>
</div>   
{% endblock %}