{% extends "layout.html" %}
{% block head %}
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
{% endblock %}

{% block content %}
<h3>Kontakti</h3>
<div class="row">
	<div class="col-md-12">
    <div class="col-md-4">Adresa</div>
    <div class="col-md-8">rr.Rexhep Mala nr. xxx</div>
    
    <div class="col-md-4">Qyteti</div>
    <div class="col-md-8">Prishtine</div>
    
    </div>

</div>
{% endblock %}