<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>{{ title }}</title>
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet"><link rel="stylesheet" type="text/css" href="assets/css/stili.css">

{% block head %}
{% endblock %}
</head>

<body>
<div class="container">
<div class="row">
<div class="col-md-12">
<h1>Online Shop</h1>



<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Home</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       

<li><a href='/produktet'>Produktet</a></li>
<li><a href='/kontakti'>Kontakti</a></li>

{% if auth %}
	<li><a href='/shporta'>Shporta</a>
    <li><a href='/zbraze'>Zbraze</a>		
	<li><a href='/profili'>Profili</a>
	<li><a href='/logout'>Logout</a>
{% else %}
	<li><a href='/login'>Login</a></li>
	<li><a href='/signup'>Regjistrohu</a></li>
{% endif %}
   
      </ul>
    
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
{% block content %}{% endblock %}

</div>
</div>
</div>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js">
</body>
</html>