{% extends "layout.html" %}

{% block content %}
<h1>Ju faleminderit!</h1>
<h2>Porosia juaj</h2>

<table class='table'>
<tr><th>ID</th>
<th>Emertimi</th>
<th>Cmimi</th>
<th>Sasia</th>
<th>Vlera</th>
</tr>

{% for rr in tabela %}
<tr>
		<td>{{ rr.id }}</td>
		<td>{{ rr.proname }}</td>
		<td>{{ rr.cmimi }}</td>
		<td>{{ rr.qty }}</td>
		<td>{{ rr.vlera }}</td>
		</tr>
{% endfor %}        
<tr><td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>Total:</td>
		<td><strong>{{ shuma }}</strong></td>
		</tr>
</table>        	
	


{% endblock %}

