{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Kërkim i avancuar</h1>
    <form method="post" action="/rezultatet">
      <table class="table">
        <tr>
          <td>Emri i produktit</td>
          <td><input class="form-control" type="text" name="emri" id="emri"></td>
        </tr>
        <tr>
          <td>Çmimi</td>
          <td> Prej
            <input  type="text" name="cmimi1" id="cmimi1" value="0">
            Deri
            <input  type="text" name="cmimi2" id="cmimi2" value="0"></td>
        </tr>
        <tr>
          <td>Kategoria</td>
          <td><select  class="form-control" name="kategoria">
          <option value="0" selected>Të gjitha</option>
              
              
          {% for k in kategorite %}
              <option value="{{ k.Cat_ID }}">{{ k.Cat_Name }}</option>
          {% endfor %}
          
            
            </select></td>
        </tr>
        <tr>
          <td>Prodhuesi</td>
          <td><select name="prodhuesi[]" size="10" multiple class="form-control">
              <option value="0" selected>Të gjithë</option>
              
              
          {% for p in prodhuesit %}
          <option value="{{ p.Man_ID }}">{{ p.Man_Name }}</option>
          {% endfor %}
          
            
            </select></td>
        </tr>
        <tr>
          <td>Renditja</td>
          <td><select name="renditja" class="form-control">
              <option value="1">Prej më të lirave</option>
              <option value="2">Prej më të shtrenjtave</option>
              <option value="3">Prej më të rejave</option>
              <option value="4">Prej më të vjetrave</option>
            </select></td>
        </tr>
        <tr>
          <td>&nbsp;</td>
          <td><input type="submit" class="btn btn-success" id="submit" value="Kërko"></td>
        </tr>
      </table>
    </form>
  </div>
</div>
{% endblock %}