{% extends "layout.html" %}
{% block content %}
<form action="/resetpassword" method="post">
<p>Shenojeni emailin tuaj</p>
<p><input type="email" name="email"></p>
<p><input type="submit" value="Dergo"></p>
</form>
{% endblock %}