{% extends "layout.html" %}
{% block content %}
<div class="row">
  <div class="col-md-12">
    <h1>Produktet</h1>
    <div>{{ links | raw }}</div>
    <table class="table">
      {% for p in produktet %}
      <tr>
        <td>{{ p.Pro_ID }}</td>
        <td>{{ p.Pro_Name }}</td>
        <td>{{ p.Pro_Price }}</td>
        <td>{{ p.Cat_Name }}</td>
        <td>{{ p.Man_Name }}</td>
        <td><a class='btn btn-success' href='/produkti/{{ p.Pro_ID }}'>Hape</a></td>
        <td><a data-id="{{ p.Pro_ID }}" class='btn btn-default ajaxlink' href='#'>AJAX</a></td>
      </tr>
      {% endfor %}
    </table>
  </div>
</div>
<div id="detajet"></div>
<script>
$(document).ready(function() {
	$(".ajaxlink").click(function(e) {
		e.preventDefault();
		
		var pid = $(this).data('id')		
		 $.ajax({
			 method: "post",
			 data: { id:pid },
			 url: "/detajet/",
			 success: function(result){
        $("#detajet").html(result).show();
    }});
	
		
	});
	
	
	
});


</script> 
{% endblock %}