{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
	<h1>Lista e anetareve</h1>
<ul>
{% for a in anetaret %}
	<li>{{ a.ID}} {{ a.name}} ({{ a.email}}) Level: {{ a.level}}</li>
{% endfor %}
</ul>	
    </div>
</div>
{% endblock %}