{% extends "layout.html" %}
{% block content %}
<div class="row">
	<div class="col-md-12">
	<h1>Kërkimi</h1>
     <div>{{ links | raw }}</div>
    <table class="table">
    {% for p in produktet %}
    <tr>
    <td>{{ p.Pro_ID }}</td>
    <td>{{ p.Pro_Name }}</td>
    <td>{{ p.Pro_Price }}</td>
    <td>{{ p.Cat_Name }}</td>
    <td>{{ p.Man_Name }}</td>
    <td><a class='btn btn-success' href='/produkti/{{ p.Pro_ID }}'>Hape</a></td>
    </tr>
    {% endfor %}
    </table>
   
	</div>
</div>
{% endblock %}