{% extends "layout.html" %}
{% block head %}
<script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
{% endblock %}
{% block content %}
<h2>Shporta</h2>
<form method="post" action="/porosit" >
<table class='table'>
<tr><th>ID</th>
<th>Emertimi</th>
<th>Cmimi</th>
<th>Sasia</th>
<th>Vlera</th>
</tr>

{% for rr in tabela %}
<tr>
		<td>{{ rr.id }}</td>
		<td>{{ rr.proname }}</td>
		<td>{{ rr.cmimi }}</td>
		<td><input class="sasia" data-price="{{ rr.cmimi }}" type="number" name="qty[{{ rr.id }}]" value="{{ rr.qty }}"></td>
		<td>{{ rr.vlera }}</td>
		</tr>
{% endfor %}        
<tr><td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>&nbsp;</td>
		<td>Total:</td>
		<td><strong>{{ shuma }}</strong></td>
		</tr>
</table>     
<p>Komenti juaj:</p>   	
	<textarea name="Comment"></textarea>
	<input type="submit" class='btn btn-success' value="Porosit">	
</form>
<script>
$(".sasia").change(function() {
	
	var s = $(this).val()
	var c = $(this).data('price')
	var vlera = s*c
///
})

</script>
{% endblock %}

